.newsContainer{
	background-color: #9c0606;
	border: 1px solid #FFF;
	padding: 10px;
	width: 920px;
	height: 100%;
	margin: 20px auto;
}

.newsTitle{
	border-bottom: 1px solid #FFF;
}

.newsTitle a:link, a:visited{
	color: #FFF;
	text-decoration: none;
	font-size: 30px;
}

.newsPoster, .newsPoster a:link{
	font-size: 12px;
	float: right;
}

.newsPoster a:hover, .newsTitle a:hover{
	color: #191717;
}
